.navBar {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), url("./assets/img/Header.jpg"));
  background-size: cover;
  height: 40vh;
}

.Header {
  background: url("./assets/img/Header.jpg") no-repeat center center;
  background-size: cover;
  height: 40vh;
}

nav {
  font-size: 1.4vw;
  text-align: center;
  & .nav-link {
      padding: .3vh;
  }
  & .total {
      font-size: 1.4vw;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 4% auto;
  border: solid 5px #FFF2CC;
}

.pizza {
  display: flex;
  justify-content: center;
  width: 30%;
  height: auto;
  margin: auto;
}


.cart-item {
  position: relative;
  overflow: hidden;
  display: flex;
  text-align: center;
  border: 1px solid #dbdbdb;
  height: 43vh;
  & p {
      font-size: 1.3vh;
      margin: 0 auto;
      height: auto;
  }
  & h2 {
      margin: 0 auto;
      font-size: 2vw;
  }
  & hr {
      width: 90%;
      height: 2vh;
      margin: auto;
  }
  & .price {
      margin: 1vw auto;
  }
  & button {
      display: flex;
      width: 30%;
      border-radius: 30px;
      justify-content: center;
      padding: .5vw;
      border: none;
      background-color: #212121;
      cursor: pointer;
  }
  & .btn-section {
      display: flex;
      justify-content: space-between;
      margin: 10px auto;
      height: 3vh;
      & button {
          margin: auto;
          height: auto;
          width: 40%;
      }
  }
  & .see-more {
      display: flex;
      margin: 0 auto;
      width: 6vw;
      height: 4vh;
      font-size: 1.2vw;
  }
}


.pizza-item {
  position: relative;
  overflow: hidden;
}

.pizza .cart-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.description-container {
  position: relative;
  width: 100%;
  height: 29vw;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.description-container.expanded {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.description-pizza {
  padding: .3vh;
}

.see-more {
  color: #dbdbdb;
  align-items: center;
  padding: 200vh;
}

li {
  display: flex;
  margin: 1vw;
  border: solid 1px #dbdbdb;
  padding: 1vw;
  cursor: pointer;
  align-items: center;
  &:hover {
      background-color: #dbdbdb;
  }
  & img {
      width: 20vh;
      height: auto;
  }
}


.cart-container {
  display: flex;
  flex-direction: column;
  margin: 3vw auto;
  align-items: center;
  & h1 {
      margin: 2vw 0;
      font-size: 4.5vw;
      font-weight: bold;
  }
  & li {
      width: 70vw;
      justify-content: space-between;
      font-size: 2.3vw;
  }
  & button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1vw;
      width: 6vw;
      height: 6vw;
      color: #dbdbdb;
      border: none;
      background-color: #212121;
      cursor: pointer;
      & p {
          margin: 0 0 .9vw 0;
          font-size: 5vw;
      }
  }
  .pay {
      background-color: #212121;
      color: #fff;
      border: none;
      margin: 2vw 0;
      cursor: pointer;
      font-size: 2vw;
      width: 11vw;
      height: 5vw;
  }
}

ul {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  align-items: center;
}


.cart-footer {
  border: solid 5px #FFF2CC;
  margin: auto 0;
  padding: 1em;
  bottom: 0;
  width: 100%;
  & p {
      margin: auto;
      margin: 10px;
  }
}

.pizza-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 50%;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex;
}
.pizza-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pizza-tarjeta{
  display: flex;
  align-items: flex-start; 
  gap: 5rem; 
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}
.pizza-img {
  width: 400px; 
  height: auto;
  border-radius: 10px
}
.pizza-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pizza-info h3 {
  font-size: 2rem;
  margin-top: 10px;
  text-align: center;
}

.pizza-info p {
  margin: 5px 0;
  font-size: 1rem;
  padding: 0.5rem;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 3rem;
}

.card p{
  padding: 5px;
  font-size: large;
  font-weight: 700;
  color: #000000;
}
